/* generally html and css work hand in hand*/
/* essentially css is the rule book for html*/
/* the body you see below is the selector, where else do we see body? in html. you see where im going?*/
/* setting a background of #999 to the body will turn anything in the body to gray, there is a whole color selector so don't worry about knowing the number codes to colors*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background: #999;
    font-family: "Poppins"; 
}
/* font family changes the font of the page. The auto set font is Times New Roman. You can type fonts or import them as I did above. Poppins isn't your average font so I had to import it and I can teach you how to do that or you can look it up.*/
/* below you see we did another selector, for <h1> in html, you can change the color size of the text or the font specifically for <h1>*/
h1 {
    color: rgb(130, 238, 166);
}
/* you can do what I did above for anything, see below*/
h2, a {
    color: tomato;
}
/*below is how you get deeper into web design, you can pad it by pixels (px) or (vh) which is a larger unit called viewport heights*/
p{
    background: #101031;
    color: white;
    padding: 5vh;
}
/* keep in mind for padding, it goes Top, Right, Bottom, Left. So you can put a total of 4 values in there like this- 4vh 12vh 3vh 9vh*/
.secondary {
    background: tomato;
    color: black;
}
/* the . means you are looking for a class. We put the secondary class in html. You can pretty much name it whatever but its good to be organized*/

#special {
    background: violet;
    color: yellow;
}
/* the # is to specify/look for id. Id is essential the same thing as a class but it can only be used once per page. The word special can only be used once because it is an id, whereas secondary can be used mulitple times per page becuase it's a class*/
